<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/PARKIM_PART_B_and_C.css">
    <script defer src="../static/js/PARKIM_JS.js"></script>
</head>
<body>
    <header class= "container-fluid">
        <div class= "container">
        
            <img id = "logo" src="../graphics/לוגו לבן.png" >
            <nav>
                <a href = "http://localhost:3000/">Home Page</a>
                
            </nav>
        </div>
    </header> 

    <div class= strip container-fluid>
        <div class= "container">
            <div>
            <h1 id = middle>ARE YOU A MEMBER?</h1>
            <div>
                <a href = "http://localhost:3000/sing_in">
                    <button id = button1 onclick ="hidebutton(this)">YES!
                </button>
                </a>
                <a href = "http://localhost:3000/sing_up">
                <button id = button1 onclick ="hidebutton(this)">Sign Up
                </button></a>
                
            </div>
            
            </div>
            
        </div>  
        
    </div> 
    
</body>
</html>