<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="css/PARKIM_PART_B_and_C.css">
    <script defer src="../static/js/PARKIM_JS.js"></script>
</head>
<body>
    <header class= "container-fluid">
        <div class= "container">
        
            <img id = "logo" src="../graphics/לוגו לבן.png" >
            <nav>
                <a href = "http://localhost:3000/">Home Page</a>
                
            </nav>
        </div>
    </header> 

    <div class=" findPartnersBox">
        <h3>Find It Here!</h3>
        <form action = "/addNewContent" method="post">
            <label for="activity">Pick your activity</label>
            <select id = "gender" name="Activity">
                <option value = "activity">Select Activity:</option>
                <option value = "Yoga">Yoga</option>
                <option value = "FootBall">FootBall</option>
                <option value = "Play a musical instrument">Play a musical instrument</option>
                <option value = "Meditate">Meditate</option>
                <option value = "Watch a sunrise or sunset">Watch a sunrise or sunset</option>
                <option value = "Play a board game">Play a board game</option>
                <option value = "Jogging or running">Jogging or running</option>
                <option value = "Painting">Painting</option>
                <option value = "Dancing">Dancing</option>
                <option value = "Do some exercise">Do some exercise</option>
                <option value = "Go bird-watching">Go bird-watching</option>
                <option value = "Throwing a frisbee">Throwing a frisbee</option>
            </select>
            <label for="cities">What city are you in right now?</label>
            <select id = "cities" name="City">
                <option value = "cities">Select City:</option>
                <option value = "Tel-Aviv">Tel-Aviv</option>
                <option value = "Beer-Sheva">Beer-Sheva</option>
                <option value = "Haifa">Haifa</option>
                <option value = "Kibbutz Kefar-Haruv">Kibbutz Kefar-Haruv</option>
            </select>
            <label for="activity date and time">Choose a date and time for your Activity:</label>
            <input type="datetime-local" id="activity date and time" name="Date_Time">
            <label>Pick a Park:</label>
            <input class = txt1 type="text" placeholder="" name="Park">
            <input type="submit" value="addNewContent">
            


        </form>
    </div>

    
    
<script src="PARKIM_JS.js"></script>
</body>
</html>